@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html {
    scroll-behavior: smooth;
  }
body{
    font-size: 14px;
    font-family:"Ubuntu", sans-serif, "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei";
    line-height: 1.5;
    letter-spacing: 1px;
    background-color: black;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    cursor: pointer;
}
ul {
    list-style: none;
}
.wrap{
    padding: 0 30px;
}
header .wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    background-color: #202528;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: top 0.3s;
}
.show {
    top: 0;
}
.logo{
    display: block;
    width: 200px;
    position: relative;
    padding: 5px 10px;
}
.logo a{
    display: flex;
    align-items: center;
    color: #c18e42;
}
.logo img{
    width: 100%;
    margin-right: 20px;
}
.logo span{
    font-size: 20px;
}

.menuBox .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:15px;
}
.menuBox .menu li{
    display: block;
    position: relative;
    margin: 10px 25px;
    transition: all 0.4 ease;
}
.menuBox .menu li > a{
    color: #c18e42;
    font-size: 15px;
    position: relative;
}
.menuBox .menu li span{
    color: #897249;
    letter-spacing: 0.3px;
}
.menuBox .menu li > a::before{
    content: attr(data-en);
    color: #897249;
    letter-spacing: 0.3px;
    position: absolute;
    top: 20px;
    left: 0px;
}
.menuBox .menu li > a::after{
    content: '\f0d7';
    font: var(--fa-font-solid);
    font-size: 12px;
    color: #897249;
    position: absolute;
    top: -25px;
    left: calc(50% - 5px);
    opacity: 0;
    transition: top 0.5s;
}
.menuBox .menu li:hover > a::after{
    top: -15px;
    opacity: 1;
}

.menuBox .menu .active > a::after{
    content: '\f0d7';
    font: var(--fa-font-solid);
    font-size: 12px;
    color: #897249;
    position: absolute;
    top: -15px;
    left: calc(50% - 5px);
    opacity: 1;
}
.hamburger {
    display: none;
}
.hamburger i{
    color: #c18e42;
}
.menuBox .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:15px;
}

/*手機板選單*/
.show-nav .menuBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #444;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: -1;
    flex-direction: column;

}
.show-nav .menu {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-right:0;
}

.show-nav .menuBox .menu li{
    display: block;
    text-align: center;
    position: relative;
    margin: 20px 0px;
    transition: all 0.4 ease;
}
.menuBox .menu li > a{
    color: #c18e42;
    font-size: 15px;
    position: relative;
}
.menuBox .menu li > a::after{
    content: '\f0d7';
    font: var(--fa-font-solid);
    font-size: 12px;
    color: #897249;
    position: absolute;
    top: -25px;
    left: calc(50% - 5px);
    opacity: 0;
    transition: top 0.5s;
}


.mainArea{
    padding: 75px 0 60px;
}
.footer{
    background: black;
    padding: 20px 0;
}
.footer .bottom{
    margin-top: 10px;
    margin-left: 10px;
    color: #897249;
}
.footer .downlogo{
    width: 150px;
}
.footer .downlogo img{
    width: 100%;
}
/*回首頁*/
.scroll-top {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
  .scroll-top i {
    color: #565656;
    font-size: 40px;
  }

  .top-images{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-title {
    font-size: 80px;    
    margin-top: 60px;
    text-transform: uppercase;
}
.top-subtitle {
    font-size: 22px;
    margin-top: -10px;
}
.top-title, .top-subtitle {
    z-index: 4;
    font-weight: normal;
    color: #daba7e;
    text-shadow:2px 2px 6px #444;
}


@media screen and (max-width:1024px){
    .hamburger {
        display: block;
    }
    .menuBox {
        display: none;
    }

    .wrap{
        padding: 20px;
    }
    .mainArea{
        padding: 0;
    }
} 

@media screen and (max-width:640px){

}